@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*   https://paletadecores.com/paleta/351330/424254/64908a/e8caa4/cc2a41/
     device breakpoints
     mobile 600 px 
     tablet 768 px
     desktop 992 px
     smart_tv 1200 px */

html {
    height: 100vh;
}

body{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #424254, #64908a);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

header {
    background-color: #351330;
    margin-top: 3px;
    border-radius: 7px 7px 0px 0px;
    width: 90vw;
    margin: auto;
}

header>h1 {
    text-align: center;
    color: #e8caa4;
    padding: 3px;
    margin-top: 17px;

}

#burger {
    background-color: #351330;
    display: block;
    color: #e8caa4;
    text-align: center;
    margin: auto;
    padding: 7px;
    width: 90vw;
    cursor: pointer;
}

#burger:hover {
    background-color: #cc2a41;
    color: white;

}

menu {
    color: rgb(255, 255, 255);
    text-align: center;
    list-style-type: none;
    width: 90vw;
    margin: auto;
}

menu>ul {
    list-style-type: none;
}

menu>ul>li>a {
    display: block;
    padding: 7px;
    text-decoration: none;
    text-align: center;
    background-color: #351330;
    border-radius: 0px 0px 0px 0px;
    color: #e8caa4;
    margin: auto;

}

menu>ul>li>a:hover {
    background-color: #cc2a41;
    color: rgb(255, 255, 255);
    text-decoration: none;
}


main {
    background-color: #000000c7;
    width: 90vw;
    margin: auto;
    border-radius: 7px 7px 0px 0px;
    margin-top: 7px;
    padding: 3px;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.300);
    color: white;

}

article>h2 {
    padding-bottom: 1em;

}

article>p {
    text-align: justify;
    margin-bottom: 17px;
    text-indent: 17px;
}

footer {
    text-align: center;
    padding: 1em;
    margin: auto;
    color: white;
}



/* configuração e definição de imagens para mobile-first */
@media screen and (max-width:768px){
    body{
        background-image: url("../back-phone.jpg");
    }
}

img {
    display: block;
    margin: auto;
}

img#mobile{
    display: none;
}

img#tablet{
    display: none;
}

img#print{
    display: none;
}

img#pc {
    display: none;
}

img#tv{
    display: none;
}

/* media para tablet com  largura de tela menor que 768px para o maior de 992px
onde sera modificado as medidas do menu, menu lista, main > article onde o menu
deve estar bloqueado seguindo as margens e cor de fundo dos elementos e 
deixando assim o menu burger oculto, forçando assim o menu aparecendo inline-block
(na horizontal) e sua exibição de imagens */
@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: url("../back-tablet.jpg");
    }
}

#burger {
    display: none;
}


menu {
    display: block;
    width: 90vw;
    margin: auto;
    background-color: #351330;
}

menu>ul>li {
    display: inline-block;
    background-color: #351330;

}

main {
    width: 90vw;
    margin: auto;
}

article>h2 {
    padding-bottom: 17px;
    width: 90vw;
    margin: auto;
}

article>p {
    text-align: justify;
    margin-bottom: 17px;
    text-indent: 17px;
}

footer {
    width: 90vw;
    margin: auto;
}

img#mobile {
    display: none;
}

img#tablet {
    display: block;
}

img#print {
    display: none;
}

img#pc {
    display: none;
}

img#tv {
    display: none;
}

/* media para pc com  largura de tela menor que 992px para o maior de 1200px
onde sera modificado as medidas do menu, menu lista, main > article onde o menu
deve estar bloqueado seguindo as margens e cor de fundo dos elementos e 
deixando assim o menu burger oculto, forçando assim o menu aparecendo inline-block
(na horizontal) e sua exibição de imagens */

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-image:url("../back-pc.jpg");
    }

    #burger {
        display: none;
    }

    menu {
        display: block;
        background-color: #351330;
    }

    menu>ul>li {
        display: inline-block;
        background-color: #351330;
    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

    img#mobile {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

/* media para smart_tv com  largura de tela menor que 992px para o maior de 1200px
onde sera modificado as medidas do menu, menu lista, main > article onde o menu
deve estar bloqueado seguindo as margens e cor de fundo dos elementos e 
deixando assim o menu burger oculto, forçando assim o menu aparecendo inline-block
(na horizontal) e sua exibição de imagens */

@media screen and (min-width: 1201px) {
    body {
        background-image:url("../back-tv.jpg");
        background-repeat: repeat-x;
        background-attachment: fixed;
    }

    #burger {
        display: none;
    }

    menu {
        display: block;
        background-color: #351330;
    }

    menu>ul>li {
        display: inline-block;
        background-color: #351330;
    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

    img#mobile {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}
